<div class="profile p-2">
    <div class="head d-flex justify-content-start align-items-center">
        <img src="./../../assets/img/user-3.png" class="rounded-circle m-2" width="50px" height="50px" alt="user">
        <h4 mat-card-title class="uppercase-first-letter m-2"> {{ data.name }} {{ data.firstName }}</h4>
    </div>
    <div class="body m-4">
        <p>Id: {{data.id}} </p>
        <p>Type: {{ data.userType }}</p>
        <div class="d-flex justify-content-start align-items-center">
            <mat-icon> mail_outline</mat-icon>
            <a  class="m-2" href="mailto:{{ data.email }}">  {{ data.email }}</a>
        </div>
        
    </div>

    <div mat-dialog-actions class="button-div  d-flex justify-content-end">
        <button class="exit-button" mat-button mat-dialog-close>
            <mat-icon class="exit-icon  d-flex justify-content-center">exit_to_app</mat-icon> 
        </button>
    </div>
  </div>