<div class="d-flex justify-content-end mb-3">
    <button class="add d-flex align-items-center"  routerLink="/adduser" matTooltip="Add user"> 
        <mat-icon>group_add</mat-icon>
    </button>
</div>

<div class="card-body">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <div class="d-flex align-items-center">
                        <mat-icon class="order-icon" (click)="sortUsersByType()" matTooltip="Sort by type">unfold_more</mat-icon>
                        Type
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex align-items-center">
                        <mat-icon class="order-icon" (click)="sortUsersByName()" matTooltip="Sort by Name">unfold_more</mat-icon>
                        Name
                    </div>
                </th>
                <th scope="col">First name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of sortedUsers">
                <td>{{ getUserType(user.userTypeId) }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td class="d-flex justify-content-end m-0 p-0">
                    <button mat-icon-button color="primary" (click)="openUserProfileDialog(user)" matTooltip="User profile">
                        <mat-icon>person</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"  (click)="editUser(user)" matTooltip="Edit user">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="deleteUser(user.id)" matTooltip="Delete user">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p-messages class="d-flex justify-content-end" [(value)]="message" [enableService]="false" [closable]="true"></p-messages>
</div>

